@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}   

<!-- Hero Section -->
<div class="hero-section">
    <div class="hero-content">
        <img src="~/images/lagkawputi.png" alt="Lagkaw Logo" class="hero-logo" asp-append-version="true">
        <h1 class="display-4">Home Owners</h1>
        <p class="hero-text">
            A Place to Belong, a Home <br />to Stay—Find Comfort with <span class="highlight">Lagkaw!</span>
        </p>
        <a asp-page="Index1" class="btn btn-yellow">Search for Homes</a>

    </div>
</div>

<!-- Page 2 Section -->